/*
.btn {
    border-radius: 0px;
}

body {
    padding-top: 100px;
}

tr {
    height: 0px;
}

*/
/*

img {
    background-color:transparent;
}

.img-thumbnail{
    background-color:transparent;
    border: 0 none;
}


section {
    border: 1px solid blue;
}

header {
    border: 1px solid blue;
}
footer {
    border: 1px solid blue;
}
.container {
    background-color: lightgray;
}
*/
